@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tarayıcı varsayılanlarını sıfırla ve rengi zorla */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* Ana arka plan rengi: Koyu Kahve (Vintage 900) */
  background-color: #231709; 
  /* Ana yazı rengi: Açık Krem (Vintage 100) */
  color: #ede0d4;
}

:root {
  height: 100%;
}